---
const {lang,other,t} = Astro.props;
---
<!doctype html>
<html lang={lang}>
  <head>
    <title>{t(lang, "title")}</title>
		<link rel="canonical" hreflang="fr" href="/"/>
    <link rel="alternate" hreflang="en" href="/en/" />
  </head>
  <body>
		<main>
			<slot />
		</main>
  </body>
</html>

